<div class="flex flex-col h-screen items-center justify-center">
  <!-- Your content goes here -->
  <h1 class="text-5xl font-bold">Password Generator</h1>

  <!-- Input Area -->
  <div class="mb-4 w-1/4">
    <label for="password" class="block text-sm mt-5 font-medium text-gray-600">
      Password Length
    </label>
    <input
      type="text"
      name="password"
      class="mt-2 p-2 border rounded-md w-full"
      (input)="onChangeLength($event)"
    />
  </div>
  <!-- end of Input Area -->

  <!-- Parameters Area -->
  <div class="mb-4 w-1/4">
    <div>
      <input type="checkbox" class="mr-2" (change)="useLetters()" />
      <label for="includeLetters" class="text-sm text-gray-600"
        >Include Letters</label
      >
    </div>

    <div>
      <input type="checkbox" class="mr-2" (change)="useSymbols()" />
      <label for="includeSymbols" class="text-sm text-gray-600"
        >Include Symbols</label
      >
    </div>

    <div>
      <input type="checkbox" class="mr-2" (change)="useNumbers()" />
      <label for="includeNumbers" class="text-sm text-gray-600"
        >Include Numbers</label
      >
    </div>
  </div>
  <!-- End of Parameters Area  -->

  <!-- Create Generate Button -->
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    (click)="onButtonClick()"
    [disabled]="!length && (letters || symbols || nums)"
  >
    Generate
  </button>
  <!-- End of Generate Button  -->

  <!-- Generated Password Area  -->
  <div class="mb-4 w-1/4" *ngIf="password">
    <label
      for="generatedPassword"
      class="block text-sm mt-5 font-medium text-gray-600"
    >
      Generated Password
    </label>
    <input
      type="text"
      class="mt-2 p-2 border rounded-md w-full"
      disabled
      [value]="password"
    />
  </div>
  <!-- End of Generated Password  -->
</div>
